# ITERATORS AND GENERATORS

In [16]:
def func(n):
    for i in n:
        yield i**3

In [40]:
g = iter(func([1,2,3,4,5]))
next(g)

1

In [87]:
def func_1(n): #doubt
    for i in n:
        if i%2==0:
            yield "the number is even"
            print(i)
        else:
            yield "the number is odd"
            print(i)
func_1([1,2,3,4,5])

In [91]:
t = iter(func_1([1,2,33,44,56,7]))
next(t)

'the number is odd'

In [92]:
next(t)

'the number is even'

In [45]:
next(g)

3

64

In [80]:
def fun(a,b):
    yield a+b
    print("I am after yield")
fun(10,20)

In [81]:
s = iter(fun(10,30))
next(s)

40

In [39]:
def fun(n):
    for i in n:
        yield i*3
s = iter(fun([1,2,3,4]))
next(s)

3

In [49]:
l = [1,2,3,4,5]
l = iter(l)
next(l)

1

In [51]:
next(l)

3

In [75]:
def it(n):
    for i in n:
        i=i-i**2
        yield i
it([1,2,3,4,5])

In [76]:
t = iter(it([1,2,3,4,5]))
next(t)

0

In [78]:
next(t)

-6

In [85]:
s = iter(it([1,2,3,4,5]))
next(s)

0

# MAPPING

In [42]:
l1 = [1,2,3,4]
l2 = [22,3,3,4]
list(map(lambda a,b:a*b,l1,l2))

[22, 6, 9, 16]

In [116]:
def func(l):
    for i in l:
        return i*-1
func([1,2,3,4])

-1

In [132]:
def cel_fah(c):
    for i in c:
        f = 9/5*i+32
        yield f
cel_fah([1,2,3,4,5])

In [133]:
t = iter(cel_fah([1,2,3,4,5]))
next(t)

33.8

In [135]:
next(t)

37.4

In [113]:
list(map(func,[1,2,3,4,5]))

[<generator object func at 0x00000242E3F62190>,
 <generator object func at 0x00000242E3F62200>,
 <generator object func at 0x00000242E3F62270>,
 <generator object func at 0x00000242E3F622E0>,
 <generator object func at 0x00000242E3F62350>]

In [6]:
s = "strings"
s = reversed(s)

In [104]:
s

In [107]:
t1 = iter(s)
next(t1)

-20

In [139]:
l1 = ["kartik","varun","kritika","bhawna"]
l2 = [1,2,3,4,5]
list(map(lambda i,y:i+str(y),l1,l2))

['kartik1', 'varun2', 'kritika3', 'bhawna4']

In [96]:
def func(l):
    for i in l:
        I=l.index(i)
        yield I
func(["kartik","varun","kritika","bhawna"])

In [97]:
t = iter(func(["kartik","varun","kritika","bhawna"]))
next(t)

0

In [98]:
next(t)

1

In [17]:
s = iter(func(["kartik","varun","kritika","bhawna"]))

In [101]:
next(t)

3

In [144]:
'''Q.1. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, 
also create a lambda function that multiplies argument x with argument y and print the result.'''
#SOLUTIONS
list(map(lambda i:i+15,[2,12,34,56]))

[17, 27, 49, 71]

In [143]:
#solutions2
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]
list(map(lambda x,y:x*y,l1,l2))

[6, 14, 24, 36, 50]

In [ ]:
'''Q. 2. Write a Python program to create a function that takes one argument, 
and that argument will be multiplied with an unknown given number.'''
#solutions

In [ ]:
def func_1(a):
    m=a*5
    print(m)

In [ ]:
l1=[5]
l2=[1,2,3,4,5]

In [149]:
list(map(lambda a,b:a*b,l1,l2))

[6, 14, 24, 36, 50]

In [155]:
'''Q. Write a Python program to sort a list of tuples using Lambda.
Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
Sorting the List of Tuples:
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]'''
#solutions
l1=[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
list(map(lambda a:a,l1))

[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]

In [209]:
l2=[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
l2=dict(l2)
l2
l5=[]
l3=[]
l4=[]
l6=[]
for a,b in l2.items():
    l3.append(a)
    l4.append(b)
    l4.sort()
for i in l2.items():
    l5.append(i)
print(l4)
print(l5)
for x in l4:
    for y in l5:
        if x in y:
            l6.append(y)
print(l6)
l6=dict(l6)


    
#for i in l2:
    
#        l3.append(a)
#        l4.append(b)
#        l4.sort()
#l4        
#        if b in i:
#            l5.append(i)
#l5

[82, 88, 90, 97]
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
[('Social sciences', 82), ('English', 88), ('Science', 90), ('Maths', 97)]
{'Social sciences': 82, 'English': 88, 'Science': 90, 'Maths': 97}

In [188]:
l1 = [82, 88, 90, 97]
l3 = []
l2 = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
list(map(lambda a,b:l3.append(b) if a in b else "",l1,l2))

['', '', '', '']

In [190]:
'''2. Write a Python program to count the number of characters (character frequency) in a string'''
#solutions
s = input("enter the string : ")
d = {}
for i in s:
    s1=s.count(i)
    d[i]=s1
d

enter the string : kartik

{'k': 2, 'a': 1, 'r': 1, 't': 1, 'i': 1}

# DOUBT

In [218]:

'''1. Write a Python script to sort (ascending and descending) a dictionary by value.'''
#solutions
d1 = {"first":40,"second":30,"third":20,"fourth":10,"fifth":0}
s=[]
s1=[]
s2=[]
for i in d1.values():
    s.append(i)
    s.sort()
print(s)
for i in d1.items():
    s2.append(i)
print(s2)
for x in s2:
    for y in s:
        if y in x:
            s1.append(x)
s1=dict(s1)
print(s1)

[0, 10, 20, 30, 40]
[('first', 40), ('second', 30), ('third', 20), ('fourth', 10), ('fifth', 0)]
{'first': 40, 'second': 30, 'third': 20, 'fourth': 10, 'fifth': 0}

In [217]:
'''1. Write a Python script to sort (ascending and descending) a dictionary by value.'''
#solutions
d1 = {"first":40,"second":30,"third":20,"fourth":10,"fifth":0}
s=[]
s1=[]
s2=[]
for i in d1.values():
    s.append(i)
    s.sort()
print(s)
for i in d1.items():
    s2.append(i)
for i in s:
    for x in s2:
        if i in x:
            s1.append(x)
s1=dict(s1)
print(s1)

[0, 10, 20, 30, 40]
{'fifth': 0, 'fourth': 10, 'third': 20, 'second': 30, 'first': 40}

In [220]:
'''1. Write a Python script to sort (descending) a dictionary by value.'''
#solutions
d1 = {"first":20,"second":30,"third":15,"fourth":10,"fifth":0}
s=[]
s1=[]
s2=[]
for i in d1.values():
    s.append(i)
    s.sort(reverse=True)
print(s)
for i in d1.items():
    s2.append(i)
print(s2)
for x in s:
    for y in s2:
        if x in y:
            s1.append(y)
s1=dict(s1)
print(s1)

[30, 20, 15, 10, 0]
[('first', 20), ('second', 30), ('third', 15), ('fourth', 10), ('fifth', 0)]
{'second': 30, 'first': 20, 'third': 15, 'fourth': 10, 'fifth': 0}

In [327]:
'''1. Write a Python script to sort (descending) a dictionary by value.'''
d = [{"first":20,"second":30,"third":15,"fourth":10,"fifth":0}]
def func(d):
    for i in d:
        print(i)
        
#d.sort(key=func(d))

In [299]:
n = ["2","23","40"]
for i in n:
    i=int(i)
    s=i+1
    print(s)

3
24
41

In [225]:
def square(a):
    return a**2
def cube(a):
    return a**3
func = [square,cube]
for i in range(6):
    s = list(map(lambda x:x(i),func))
    print(s)

[0, 0]
[1, 1]
[4, 8]
[9, 27]
[16, 64]
[25, 125]

In [228]:
def func_1(a):
    return a*k
list(map(20,func_1(20)))

NameError: name 'k' is not defined

In [230]:
pie=3.14
def area(r):
    return pie*r**2
radii = [1,2,3,4,5]
#method 1
area1=[]
for i in radii:
    a=area(i)
    area1.append(a)
print(area1)

[3.14, 12.56, 28.26, 50.24, 78.5]

In [231]:
#method 2
list(map(area,radii))

[3.14, 12.56, 28.26, 50.24, 78.5]

In [233]:
def perimeter(a,b):
    return 2*(a+b)
list(map(perimeter,[1,2,3,4],[2,3,4,5]))

[6, 10, 14, 18]

In [234]:
def vol(l,b,h):
    return l*b*h
list(map(vol,[1,2,3,4],[1,1,1,1],[5,6,7,8]))

[5, 12, 21, 32]

# lambda is used as a shortcut to work through a functions

In [235]:
list(map(lambda a,b,c:a*b*c,[1,2,3,4],[1,2,1,2],[10,20,30,40]))

[10, 80, 90, 320]

In [241]:
'''3. Write a Python program to sort a list of tuples using Lambda.
Original list of tuples:
[('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]'''\
#solutions
s = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
s=dict(s)
a,b=[],[]
for i in s.key():
    a.append(i)
for x in s.value():
    b.append(x)
    b.sort()
s1=list(map(lambda e,f:[e]=f,[a],[b]))

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (Temp/ipykernel_25052/63280830.py, line 13)

In [290]:
marks_obtained = [('English', 88), ('Science', 90), ('Maths', 97), ('Social sciences', 82)]
marks_obtained.sort(key=lambda subject:subject[-1],reverse=True)
marks_obtained

[('Maths', 97), ('Science', 90), ('English', 88), ('Social sciences', 82)]

In [242]:
# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)

print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [285]:
'''sort the brand names of cars'''
l=["ford","mitsubishi","bmw","vw"]
l.sort(key=lambda name:len(name))

['vw', 'bmw', 'ford', 'mitsubishi']

In [249]:
'''Sort a list of dictionaries based on the "year" value of the dictionaries:'''

# A function that returns the 'year' value:
def myFunc(e):
    return e['year']
cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)

In [292]:
#above question using anonymous function
s = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]
s.sort(key=lambda titles:titles["year"])
s

[{'car': 'Mitsubishi', 'year': 2000},
 {'car': 'Ford', 'year': 2005},
 {'car': 'VW', 'year': 2011},
 {'car': 'BMW', 'year': 2019}]

In [253]:
f=lambda a:a**2
f(2)

4

In [259]:
f = lambda a,b:a.title().upper() +" "+b.title()
f("kartik","negi")

'KARTIK Negi'

In [281]:
authors = ["isaac newton","ray Bradhury","robert heinlein","frank herbert"]
authors.sort(key=lambda name_:name_.split(" ")[-1])
authors

['ray Bradhury', 'robert heinlein', 'frank herbert', 'isaac newton']

In [278]:
s = "kartik negi"
s.split()

['kartik', 'negi']

In [279]:
a,b,c=1,2,3
f = lambda x:a*x**2+b*x+c
f(3)

18

In [ ]:
l1=[1, 2, 3, 5, 7, 8, 9, 10]
s1=set(l1)
l2=[1, 2, 4, 8, 9]
s2=set(l2)
a = lambda x,y:

In [ ]:
q12.